# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
a = 120
b = 120

print(f'a == b: {a == b}')
print(f'a is b: {a is b}')

a == b: True
a is b: True

за допомогою `a == b` та `a is b` я перевірила, чи ці змінні рівні за значенням та чи вони посилаються на той самий об'єкт. обидві відповіді `True`. в пайтоні цілі значення в проміжку [-5, 256] зарезервовані для оптимізації, тому коли ми присвоюємо число змінній, то вона посилається на один і той самий об'єкт.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [3]:
isinstance(True, (bool, int))

True

за допомогою функції `isinstance()`, яка приймає як параметри значення та тип.

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [1]:
a = 68
b = 1.23
print(f'a + b = {a + b}')   # adding
print(f'a - b = {a - b}')   # subtracting
print(f'a / b = {a / b}')   # dividing
print(f'a * b = {a * b}')   # multiplying
print(f'a // b = {a // b}') # integer division
print(f'a % b = {a % b}')   # modulo division
print(f'a ** b = {a ** b}') # power

a + b = 69.23
a - b = 66.77
a / b = 55.28455284552846
a * b = 83.64
a // b = 55.0
a % b = 0.350000000000001
a ** b = 179.46756179554657

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [4]:
bool_var = True

print(int(b))
print(int(bool_var))

1
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [8]:
s1 = ''
s2 = str()
s1, s2

('', '')

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [11]:
s1 = 'it\'s random'
s2 = r'it\'s random'
s1, s2

("it's random", "it\\'s random")

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [14]:
surname = 'dyrda'
s = f'my surname is {surname}'
s

'my surname is dyrda'

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [17]:
s = 'My dog is crazy'
list_s = s.lower().split()
list_s

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [25]:
list1 = [1, 2, 3]
list2 = list((1, 2, 3, 4, 5))
print(f'first list: {list1}')
print(f'second list: {list2}')
print(f'length of the second list: {len(list2)}')

first list: [1, 2, 3]
second list: [1, 2, 3, 4, 5]
length of the second list: 5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [29]:
list1 = list((7, 3, 9))
list2 = list((8.2, 'a', 33))
list1.append(list2)
list1, list2

([7, 3, 9, [8.2, 'a', 33]], [8.2, 'a', 33])

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [37]:
some_list = list((list1, list2))
some_list[-1][0]

8.2

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [39]:
some_list = [83, 1.01, True, 'idk', list2, (1, 2, 3), {'key':'value'}, 'beer', 'minions', 120]
other_list = some_list[2:(len(some_list)-2)]
other_list

[True, 'idk', [8.2, 'a', 33], (1, 2, 3), {'key': 'value'}, 'beer']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [42]:
t = ('a',)
t

('a',)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

`кортеж` є незмінним типом та він працює швидше, а `список` є змінним та повільнішим.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [71]:
t = (3.52, 6.24, 7.3, 8.35, 6.3, 835.2, 8.2, 9.1, 8.1, 1.1, 0.23)
t2 = t[-2:0:-2]
t2

(1.1, 9.1, 835.2, 8.35, 6.24)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [75]:
s = set()
s.add('minion kevin')
s.add('minion bob')
s.add('minion bob')
s.add('minion stuart')
s

{'minion bob', 'minion kevin', 'minion stuart'}

`set` є змінним типом данним

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [80]:
my_list = [1, 1, 2, 67, 67, 8, 9]
s = set(my_list)
s

{1, 2, 8, 9, 67}

`set` може містити лише унікальні елементи, бо всередині нього є хеш-таблиця, тому дуплікати не додаються в множину, як і в попередньому прикладі в нас не може бути двох посіпак по імені боб

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [92]:
s1 = {'minion bob', 'minion kevin', 'minion stuart', 'gru'}
s2 = {'minion bob', 'minion kevin', 'scarlett overkill'}

union_set = s1.union(s2)
difference_set = s1.difference(s2)
intersection_set = s1.intersection(s2)
symmetric_difference_set = s1.symmetric_difference(s2)

print(f'union set:                {union_set}')
print(f'difference set:           {difference_set}')
print(f'intersection set:         {intersection_set}')
print(f'symmetric difference set: {symmetric_difference_set}')

union set:                {'gru', 'minion stuart', 'minion kevin', 'minion bob', 'scarlett overkill'}
difference set:           {'gru', 'minion stuart'}
intersection set:         {'minion bob', 'minion kevin'}
symmetric difference set: {'gru', 'minion stuart', 'scarlett overkill'}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [110]:
d = dict()
d[1] = 'icecream'
d['yellow'] = 'minion'
d[False] = 'not a minion'
d[2.999] = {'minion': ['kevin', 'stuart', 'bob']}
#d[[1, 2]] = -1
d

{1: 'icecream',
 'yellow': 'minion',
 False: 'not a minion',
 2.999: {'minion': ['kevin', 'stuart', 'bob']}}

`список` не може бути ключем, тому що в основі словника лежить хеш-таблиця, тобто значення ключів - хешовані (незмінювані). списки це змінювані об'єкти, тож не можуть бути ключами.
компілятор кине помилку `TypeError: unhashable type: 'list'`

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [115]:
d = {
    'minion': {
        'kevin': {
            'name': 'kevin',
            'traits': ['caring', 'leader', 'kind'],
            'appearance': {
                'height': 'tall',
                'eye': 2
            }
        },
        'stuart': {
            'name': 'stuart',
            'traits': ['funny', 'cringy', 'cool hair'],
            'appearance': {
                'height': 'average',
                'eye': 2
            }
        },
        'bob': {
            'traits': ['cutie', 'small'],
            'appearance': {
                'height': 'small',
                'eye': 1
            }
        }
    },
    'human': {
        'gru': 'cool guy'
    }
}

bob_eye = d['minion']['bob']['appearance']['eye']
bob_eye

1

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.

<div style="text-align: center;">
    <img src="https://i.pinimg.com/736x/4b/27/c2/4b27c2a46079384affeff87550491cf4.jpg" width="600">
</div>